/**
 * Snippet Name: Custom login
 * Author: st3phan76 (https://github.com/st3phan76)
 * License: GPL 2 or later
 *
 * Changes logo, logo-size and hides language-switcher.
 *
 * requires custom-login-style.css in your child-theme folder.
 * Use this file in your child-theme's folder.
 */
  
/* Login */
.login h1 a {
	background-image: url("/wp-content/uploads/wp-custom-login/your-logo.svg") !important;
	background-size: 320px; /* adjust to your needs */
	width: 320px; /* adjust to your needs */
	height: 120px; /* adjust to ratio of width */
}

/* hide language switch */
.language-switcher {
	display: none;
}
